$colors-background: #f9f9f9;
$colors-primary: #222;

$colors-yellow: #f8cb1c;
$colors-green: #a3d02e;
$colors-red: #e55b33;
$colors-blue: #5bbbe3;
$colors-tourquise: #50e3c2;
$colors-purple: #704cea;

$colors-grey: #aaa;
$colors-grey-light: #f5f5f5;

$colors-white: #fff;
$colors-black: #000;