.elements {
  background: $colors-background;

  .empty {
    margin: 4rem 0 0 -12rem;
    width: 24rem;
    padding: 0 0 0 50%;
    box-sizing: content-box;
    text-align: center;
    color: $colors-grey;
  }

  .element-tree {
    flex: 1;
    padding: 1rem;
    overflow: auto;
    font-family: $fonts-mono;
    font-size: 1.3rem;
    line-height: 1.8;

    ul,
    li {
      list-style: none;
      marign: 0;
      padding: 0;
    }

    ul {
      padding: 0 0 0 2rem;

      li {
        position: relative;
        padding: 0;

        .wrap-element,
        .wrap-element-close {
          color: $colors-grey;
        }

        .element-class {
          color: $colors-purple;
          padding: 0 .2rem;
        }

        .wrap-element-prop {
          .wrap-element-prop-name,
          .wrap-element-prop-equal {
            color: $colors-grey;
            font-style: italic;
          }

          .wrap-element-prop-value {
            color: darken($colors-red, 10%);
          }
        }

        .wrap-element-child-cnt {
          color: lighten($colors-grey, 25%);
          font-style: italic;
        }

        .btn-expand {
          position: absolute;
          top: .4rem;
          left: -1.5rem;
          text-indent: -999px;
          overflow: hidden;
          color: inherit;
          border: 0 none;
          background: none transparent;
          text-indent: -100rem;
          padding: 0;
          margin: .2rem 0 0;
          width: 1.2rem;
          height: 1.2rem;
          transition: transform .2s;

          &:before {
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -.4rem 0 0 -.3rem;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: .4rem 0 .4rem .6rem;
            border-color: transparent transparent transparent currentColor;
          }
        }

        &.tree-element-expanded {
          &:before {
            content: ' ';
            position: absolute;
            top: 2rem;
            bottom: 1rem;
            left: -1rem;
            width: .1rem;
            background: lighten($colors-grey, 25%);
          }

          > .btn-expand {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
