.filters {
  flex: 0 1;
  display: flex;
  padding: 0 0 0 .6rem;

  .filters-inner {
    flex: 1;

    .filter {
      position: relative;

      .filter-button {
        width: 4rem;
        height: 4rem;
        display: inline-block;
        position: relative;
        border: 0 none;
        background: none transparent;
        color: $colors-grey;
        transition: color .2s;

        &:hover {
          background: lighten($colors-grey-light, 1%);
          color: $colors-primary;
        }

        &.active {
          color: $colors-primary;
        }

        .icon {
          font-size: 1.8rem;
        }
      }

      &.search {
        .indicator {
          position: absolute;
          bottom: .6rem;
          right: .6rem;
          width: 1rem;
          height: 1rem;
          border-radius: .6rem;
          background: none $colors-green;
          transform: scale(0);
          transition: transform .2s;

          &.active {
            transform: scale(1);
          }
        }
      }

      .search-panel {
        position: absolute;
        z-index: 500;
        top: -.3rem;
        left: 100%;
        margin: 0 0 0 -.4rem;
        height: 4rem;
        opacity: 0;
        transform: scale(.1);
        transform-origin: left center;
        transition: opacity .3s, transform .2s;

        &.active {
          opacity: 1;
          transform: scale(1);
        }

        input {
          height: 100%;
          width: 20rem;
          border: 0 none;
          padding: 0 4.4rem 0 1rem;
          box-shadow: $shadows-box-medium;
          background: none $colors-white;
        }

        .clear-search {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0 1.4rem;
          line-height: 4.4rem;
          background: none;
          border: 0 none;
          opacity: 0;
          transform: scale(0);
          transition: opacity .2s, transform .2s;
          font-size: 1.4rem;

          &.visible {
            opacity: .5;
            transform: scale(1);

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      &.clear-list {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}
