.network {
  background: $colors-background;
  flex-direction: column;

  .wrap-panels {
    .panel-list {
      .panel-list-item {
        .network-request-method {
          display: inline-block;
          padding: .2rem .4rem;
          font-size: 70%;
          background: $colors-purple;
          color: white;
          border-radius: .2rem;
          margin: 0 .6rem 0 0;
          font-family: $fonts-mono;
        }
      }

      .panel-list-item.selected {
        .network-request-method {
          background: $colors-white;
          color: $colors-primary;
        }
      }
    }
  }
}
