.network {
  background: $colors-background;
  flex-direction: column;

  .wrap-panels {
    .panel-list {
      .panel-list-item {
        .timestamp {
          opacity: .3;
          padding: 0 1.2rem 0 0;
        }

        .network-request-method {
          display: inline-block;
          padding: .3rem .4rem .2rem;
          font-size: 70%;
          background: $colors-purple;
          color: white;
          border-radius: .2rem;
          margin: 0 .6rem 0 0;
          font-family: $fonts-mono;
        }

        .network-request-label {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .panel-list-item.selected {
        .network-request-method {
          background: $colors-white;
          color: $colors-primary;
        }
      }
    }
  }
}
