.tab-bar {
  background: $colors-white;
  display: flex;
  width: 100%;
  height: 50px;
  box-shadow: $shadows-box-light;
  white-space: nowrap;
  position: relative;
  z-index: 200;

  ul, ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;

    a {
      line-height: 50px;
      font-size: 1.5rem;
      padding: 0 15px;
      text-decoration: none;
      color: $colors-primary;
      opacity: .5;
      transition: opacity .2s;
      font-weight: 900;
      letter-spacing: -.45px;

      &:hover,
      &.active {
        opacity: 1;
      }

      &[disabled],
      &[disabled]:hover {
        opacity: .5;
        text-decoration: line-through;
      }
    }
  }
}

.tab-content {
  background: yellow;
  display: flex;
  flex: 1;

  .tab-content-inner {
    display: flex;
    flex-direction: row;
  }
}